@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--body-color);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
:root {
    --body: #f1ecff;
    --app-border: #2c283a;
    --app-background-color: #f1faee;
    --input-color: #432000;
    --input-background-color: #a8dadc;
    --button-color: #FDFDFD;
    --button-color-hover: #a91f2a;
    --button-background-color: #e63946;
    --list-item-background-color: #457b9d;
    --list-item-background-color-hover: #2a4e64;
    --list-item-text-color: #f1faee;
    --box-shadow-color: #00000030;
    --body-color: #1d3557;
}

html[data-theme="light"] {
    --body: #f1ecff;
    --app-border: #2c283a;
    --app-background-color: #EEF0F4;
    --input-color: #432000;
    --input-background-color: #DCE1EB;
    --button-color: #FDFDFD;
    --button-color-hover: #432000;
    --button-background-color: #AC485A;
    --list-item-background-color: #FFFDF8;
    --list-item-background-color-hover: #FFECC7;
    --box-shadow-color: #00000030;
    --body-color: #432000;

}

html[data-theme="dark"] {
    --body: #2c283a;
    --app-border: #f1ecff;
    --app-background-color: #403c4d;
    --input-color: #432000;
    --input-background-color: #FDFDFD;
    --button-color: #FDFDFD;
    --button-background-color: #565261;
    --list-item-background-color: #FFFDF8; /*to fix*/
    --box-shadow-color: #00000030; /*to fix*/

}

.page-wrapper {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body);

}

.main-wrapper {
    padding: 0 1.5rem;
}

.app-window {
    display: flex;
    flex-direction: column;
    border: 0.25rem solid var(--app-border);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.411);
    background-color: var(--app-background-color);
    padding: 3rem 2.5rem;
    text-align: center;
    font-weight: 100;
    max-width: 18rem;
    width: 100%;
}

#avatar {
    max-width: 12rem;
    margin: 0 auto;
    padding-right: 2rem;
}

#input-field {
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.25;
    text-align: center;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--input-background-color);
    color: var(--input-color);
    margin-bottom: 0.8rem;
    margin-top: 1rem;
    font-family: inherit;
}

#add-button {
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-radius: 0.4rem;  
    background-color: var(--button-background-color);
    color: var(--button-color);
    font-weight: inherit;
    cursor: pointer;
    margin-bottom: 0.8rem;
}
#add-button:hover {
    background-color: var(--button-color-hover);
}

#shopping-list {
    text-align: left;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

li{
    background-color: var(--list-item-background-color);
    box-shadow: 0px 1px 4px var(--box-shadow-color);
    list-style-type: none;
    font-size: 1.25rem;
    padding: 1rem 1rem;
    border-radius: 0.4rem;  
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    color: var(--list-item-text-color)
}

li:hover{
    background-color: var(--list-item-background-color-hover);
}